* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
/* html {
    height: 100%;
} */
#mainDiv{
    display: grid;
    /* grid-template-rows: 1fr 4fr; */
}

#headDiv{
    display: grid;
    background-color: #dedbd2;
    grid-template-columns: 1fr 1fr;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: relative;
}
#mainHead {
    align-self: center;
    margin-left: 200px;
}
#btnHead {
    border-radius: 10px;
    padding: 20px;
    width: 100px;
    margin-left: auto;
    margin-right: 200px;
    height: 30%;
    align-self: center;
    line-height: 0; /*centers text inside button */
    border-style: none;
    font-weight: bold;
    background-color: #b0c4b1;
}

#bodyDiv {
    background-color: #b0c4b1;
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    height: 85vh;
}
#bannerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
#addBook {
    padding: 50px;
    margin: 0;
    position: absolute;
    top: 13.9%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-49%, -65%) rotate(0deg);
    transition-duration: 500ms;
    font-size: 20vh;
    line-height: 0;
    background: none;
    border-style: none;
}
#addBook:hover {
    transform: translate(-45%, -60%) rotate(45deg);
    transition-duration: 1000ms;
    /*v important, have to combine transformations since youre doing multiple ones to positon it as well*/
}
/* @keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(45deg);
    }
} */

#cardsDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-left: 100px;
    margin-right: 100px;
}
.bookCard {
    background-color: #4a5759;
    border-radius: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#f7e1d7;

}
#modalBG { /*this is the background when the modal pops up, makes BG out of focus */
    height: 100%;
    width: 100%;
    opacity: 0.7;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    display: none;

}
#modalContent {
    background-color: #4a5759;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    display: none;
}
#closeModal{
    position: absolute;
    top:39%;
    left: 54.5%;
    font-size: 1em;
    font-weight: bold;
    color: #f7e1d7;
    padding: 10px;
    border-radius: 20px;
    border-style: dotted;
    background: none;
}
#closeModal:hover{
    background-color: white;
    color: red;
}
#modalContent div, h1{
    margin-bottom: 10px;
}

#modalContent input {
    border-radius: 20px;
    border-style: none;
    padding: 10px;
}

/*
colors:
-green: #4a5759
-beige: #f7e1d7
-pink: #edafb8
rest are already in

to do:
- make modaltest display:none by default but when a button is clicked change display to flex;
*/